body {
  margin: 0;
  overflow: hidden;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 20px;
}

#container {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 1em;
  padding: 1em 2em;
  box-sizing: border-box;
}

input[type="range"] {
  width: 80%;
  background: #f0f0f0; /* Slider track color */
  border-radius: 10px; /* Rounded edges */
  outline: none;
  margin: 0;
}

.block__parent {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px;
  margin: 4px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); /* Add a box shadow when focused */
  transition: box-shadow 0.3s ease;
  width: 100%;
}
.block__parent:focus, .block__parent:hover {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Add a box shadow when focused */
}
.block__parent:not(:focus) {
  zoom: 0.85;
  width: 85%;
}

.block__increase, .block__decrease {
  width: 25px;
  height: 25px;
  background-color: #808080;
  /* Gray background color */
  border: none;
  border-radius: 50%;
  /* Rounded shape */
  color: #fff;
  /* Text color */
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

div:has(>.block__label){
  min-height: 30px;
}
.block__label{
  font-family: 'Courier New', Courier, monospace;
}

.bold-animation {
  animation: boldAnimation 0.25s ease;
}
.bold-animation-hold {
  font-weight: bold;
  font-size: 1.3em;
}
@keyframes boldAnimation {
  0% {
    font-weight: bold;
    font-size: 1.3em;
  }
  100% {
    font-size: 1.0em;
    font-weight: normal;
  }
}

.block__description {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
}





.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.block-head.no-bold {
  font-weight: inherit;
}

.flex {
  display: flex;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.hbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.vbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.hbox-compact {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex: 1
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.margin-auto {
  margin: auto;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-stretch {
  align-items: stretch;
}

.height-auto {
  height: auto;
}

.strike-through {
  text-decoration: line-through;
}

.reveal pre {
  width: unset;
  margin: unset;
}

.reveal pre code {
  width: unset;
  max-height: unset;
}

.cite-bottom-elem.highlighted {
  text-decoration: underline;
}

.cite-bottom-elem:hover {
  text-decoration: underline;
}

.cite-bottom-elem {
  font-size: 0.7em;
  cursor: pointer;
}

.font-s {
  font-size: 0.8em;
}

.padding-0-m {
  padding: 0 1em;
}

.padding-s-m {
  padding: 0.1em 1em;
}

.round-border {
  border: 1px solid black;
  border-radius: 0.2em;
  padding: 0 0.3em;
  margin: 0 0.3em;
}

.round-border-title {
  color: var(--r-heading-color);
}